Repository microsoft/api-guidelines, pull requests merged in 2023-08, with the labels that each got.

#484 Make guidance for polymorphism use more permissive.
  azure/ConsiderationsForServiceDesign.md
  azure/Guidelines.md
Labels: Azure Guidelines

#487 Olgapo-viewpoint
  .github/CODEOWNERS
  graph/GuidelinesGraph.md
  graph/patterns/antiPatternTemplate.md
  graph/patterns/viewpoint.md
Labels: Microsoft Graph

#449 Fix Dictionary guidance to use PATCH to add/remove/update properties.
  graph/patterns/dictionary.md
Labels: Graph Guidelines, Microsoft Graph
